.experience__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.experience__container > div{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    padding: 1.5rem 1.5rem;
    border-radius: 2rem;
}

.experience__container > div:hover{
    background: transparent;
    border: 1px solid var(--color-primary-variant);
    cursor: default;
}

.experience__container > div h3{
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 2rem;
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
}

.experience__details{
    display: flex;
    gap: 1rem;
}

.experience__icon{
    margin-top: 6px;
    color: var(--color-primary);
}

/* ============= Media Queries (medium devices) =============== */

@media screen  and (max-width: 1024px) {
    .experience__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .experience__container > div{
        width: 100%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__content{
        padding: 1rem;

    }


    
}

/* ============= Media Queries (Small devices) =============== */

@media screen  and (max-width: 600px) {
    .experience__details{
        display: flex;
        flex-direction: column;
}
}